<h1>show cat</h1>

<table>
    <tr>
        <th>Cat_id</th>
        <th>Cat_birth_date </tr>
        <th>Cat_color</tr>
        <th>Cat_name </tr>
        <th>Cat_sex </tr>
    </tr>
    <tr>
        <td>@cat.id</td>
        <td>@cat.birth_date</td>
        <td>@cat.color</td>
        <td>@cat.name</td>
        <td>@cat.sex</td>
        
    </tr>


</table>